/*font-family: 'Teko', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;	
	color: #8e8e8e;
	background: #fff;
	font-weight: 300;
}

.clearfix {
	display: table;
	content: ' ';
	clear: both;
}

header {
	background: url(../img/aurora.jpg) center center fixed no-repeat;
	height: 680px;
}

.top_bar {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	height: 71px;
}

.container{
	max-width: 70%;
	margin: 0 auto;
}

.logo {
	display: inline-block;
}

nav.navigation {
	float: right;
	padding-top: 30px;
}

nav.navigation ul li {
	float: left;
}

.navigation a {
	text-decoration: none;
	list-style: none;
	color: #9a9a9a;
	margin-left: 30px;
	padding-bottom: 21px;
}


.active a {
	border-bottom: 2px solid #fff;	
}

section.hero {
	max-width: 70%;
	margin: 10% auto 0;
	border-bottom: none;
}

h1 {
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	font-size: 120px;
	letter-spacing: 3px;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
	text-transform: uppercase;
}

section.hero p {
	max-width: 70%;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	color: #c5c4c5;
}

.hero nav {
    margin:90px auto 0;
    padding:0;
    text-align:center;
}

.hero li {
    display:inline-block;
    width: 40px;
    height: 4px;
    margin-left: 3px;
    background-color: rgba(255, 255, 255, .3);
}

.hero li.active {
	background-color: rgba(255, 255, 255, 1);
}


.explore {
	height: 35px;
	width: 170px;
	display: block;
	background: #fff;
	margin: 30px auto;
	padding: 10px 20px 0px;
	text-align: center;
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
}

.explore:hover {
	background: #f63c3c;
	color: #fff;
}

.work {
	display: block;
	font-family: 'Teko', sans-serif;
	font-size: 30px;
	text-align: center;
	margin: 25px auto 0 auto;
	color: #000;
}

.work h3 {
	margin-top: 10px;
	letter-spacing: 2px;
}

.work p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	max-width: 70%;
	text-align: center;
	margin: 0 auto;
	color: #c5c4c5;
}

.work article {
	float: left;
	max-width: 49%;
	margin-left: 8px;
	margin-bottom: 10px;
}

.work img {
	max-width: 100%;
	margin: 20px auto 0 auto;
}

.show_more {
	width: 100%;
	height: 100px;
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
}

.show_more a {
	text-decoration: none;
	color: #f63c3c;
	font-size: 16px;
	border-bottom: 2px solid #f63c3c;
}

.cta {
	max-width: 100%;
	height: 150px;
	background-color: #f63c3c;
	text-align: center;
	color: #fff;
}

.cta h2 {
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	padding-top: 30px;
	letter-spacing: 2px;
}

.cta p {
	font-size: 10px;
	margin-top: 5px;
}


.button {
	height: 35px;
	width: 170px;
	display: block;
	background: #fff;
	margin: 15px auto;
	padding: 10px 20px 0px;
	text-align: center;
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
}

.contact {
	background: #fafafa;
	color: #30282a;
	font-family: 'Teko', sans-serif;
	font-size: 24px;
	padding-top: 30px;
}

.contact p {
	font-family: 'Titillium Web', sans-serif;
	font-size: 10px;
	font-weight: 300;
	color: #c5c4c5;
	margin: 5px auto;
}

.contact ul li {
	display: inline-block;
	width: 180px;
	height: 130px;
	text-align: center;
	background-color: #30282a;
	margin: 20px auto 60px;
	padding-top: 40px;
}

.contact ul li:nth-child(n+2) {
	margin-left: 9px;
}

.contact a {
	color: #fff;
	text-decoration: none;
}

.copyright {
	display: block;
}

.copyright p {
	color: #747474;
	padding-top: 15px;
	padding-bottom: 25px;
	font-size: 8px;
}















