/**********
GENERAL
**********/

body {
  font-family: 'Bentham', serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}



/**********
HEADER
**********/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

header img {
    margin: auto;
}

h1 {
    font-family: 'Sansita One', cursive;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
  font-size: 1em;
  margin: -5px 0 0;
}

header img {
    margin: auto;
    padding-left: 30px;
}

/**********
NAVIGATION
**********/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: normal;
    padding: 15px 10px;
}

/**********
FOOTER
**********/
  
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}




/***************
PAGE: PORTFOLIO
***************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none; 
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
  color: #bdc3c7;
}
#gallery li {
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

#gallery li:hover {
    box-shadow: 5px 5px 5px #888888;
}


/**********
PAGE: ABOUT
**********/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 30px;
}



/**********
PAGE: CONTACT
**********/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}



/**********
COLORS
**********/

/* Site body */
body {
  background-color: #fff;
  color: #8E999C;
}

/* links */
a {
color: #8E999C;
}

/* orange header */
header {
  background: #ffb400;
  border-color: #bcbec0;
}

h1, h2 {
  color: #FFF;
}
/* nav background on mobile */
nav {
  background: #bcbec0;
}
nav a, nav a:visited {
  color: #FFF;
}
/* nav selected color */
nav a.selected, nav a:hover {
  color: #c14330;
}

#gallery img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#gallery li p:hover {
    color: #27CCBA;
}
