@media screen and (min-width: 480px) {
  
  /****************
  TWO COLUMN LAYOUT
  *****************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }

  

/****************
PAGE: PORTFOLIO
*****************/
  
#gallery li {
  width: 28.3333%;
}
    
#gallery p {
    color: #000;
}
  
#gallery li:nth-child(4n) {
    clear: left;
  }
header img {
    margin: auto;
}
/****************
PAGE: ABOUT
*****************/

.profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}

@media screen and (min-width: 660px) {
  
  /****************
  PAGE: PORTFOLIO
  *****************/
  
  nav {
    background: none;
    float: right;
    font-size: 1.5em;
    margin-right: 5%;
    text-align: right;
    width: 40%;
  }  
  
  #logo {
    float: inherit;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
    
    header img {
        margin: auto;
    }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 8px solid #bcbec0;
    margin-bottom: 60px;
  }
}